@font-face {
    font-family: Ubuntu;
    src: url(fonts.googleapis.com);
}


/* RESPONSIVE CSS START */

@media only screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
    }
    #main {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 150px;
    }
    /* For tablets: */
    img {
        max-width: 100%;
        height: auto;
    }
    header {
        width: auto;
        height: auto;
    }
    body {
        max-width: 100%;
    }
    footer {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
    .log {
        height: 15%;
        width: 15%;
    }
    .socialLogo {
        height: 5%;
        width: 5%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    * {
        box-sizing: border-box;
    }
    #main {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 150px;
    }
    header {
        width: 8.33%;
        height: 8.33%
    }
    body {
        width: 8.66%;
    }
    footer {
        width: 8.33%;
        height: 8.33%
    }
    .log {
        height: 15%;
        width: 15%;
    }
    .socialLogo {
        height: 15%;
        width: 15%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
    }
    #main {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 150px;
    }
    header {
        width: 8.33%;
        height: 8.33%
    }
    body {
        width: 8.66%;
    }
    footer {
        width: 8.33%;
        height: 8.33%
    }
    .log {
        height: 15%;
        width: 15%;
    }
    .socialLogo {
        height: 15%;
        width: 15%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */


/* @media only screen and (min-width: 992px) {
    #main {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 150px;
    }
    header {
        width: 8.33%;
        height: 8.33%
    }
    body {
        width: 8.66%;
    }
    footer {
        width: 8.33%;
        height: 8.33%
    }
    .log {
        height: 15%;
        width: 15%;
    }
    .socialLogo {
        height: 15%;
        width: 15%;
    }
} */


/* RESPONSIVE CSS END */


/* MAIN CSS */

* {
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 150px;
}

body {
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.logo {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin: 1%;
    margin-top: 0;
}

.socialLogo {
    height: 20px;
    width: 22px;
}

header {
    background-color: rosybrown;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

footer {
    background-color: rosybrown;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: auto;
    top: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1%;
}

.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

#contactus {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

.modal-header,
h4,
.close {
    text-align: left;
    font-size: 30px;
}

.modal-footer {
    background-color: white;
    text-align: left;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 0;
    height: 0;
    background-color: #000;
}
